/* app css stylesheet */

.checkout-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.checkout-grid__item {
  position: relative;
  width: calc(33% - 10px);
  background-color: #EEECEF;
  margin: 5px;
  padding-bottom: 100px;
  text-align: center;
}

.checkout-grid__item-image {
  width: 100%;
}

.checkout-grid__item-info {
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.checkout-grid__item-text {
  margin-top: 50%;
}

.checkout-grid__item-button {
  border: none;
  cursor: pointer;
  background: #333;
  color: #fff;
  padding: 10px 15px;
  border-radius: 3px;
  letter-spacing: 0.3px;
}

.checkout-grid__item-button:hover, 
.checkout-grid__item-button:focus {
  background: #4d4d4d;
}